
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  color: white;
  font-size: 5rem;
  font-weight: 700;
  color: #00d9ff;
}

.test {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

// *:hover ~ .cursor {
//   transform: scale(3);
// }
// @media (max-width: 768px) {
//   #about {
//     /* styles for screen sizes smaller than 768px */
//     display: none;
//   }
// }