
.dragged-object {
    // background: white;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    position: absolute;

  }
  
.drag-area {
    opacity: 0.2;
    // background: white;
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 30px;

  }
  