
.dragged-object {
    // background: white;
    border-radius: 50%;
    width: 330px;
    height: 350px;
    position: absolute;

  }
  
.drag-area {
    opacity: 0.2;
    // background: white;
    position: absolute;
    width: 330px;
    height: 350px;
    border-radius: 30px;

  }
  