.html {
  background-color: black;
}
.css {
  background-color: black;
}
.boot {
  background-color: black;
}
.tail {
  background-color: black;
}
.js {
  background-color: black;
}
.jq {
  background-color: black;
}
.react {
  background-color: black;
}
.figma {
  background-color: black;
}
.cpp {
  background-color: black;
}
.python {
  background-color: black;
}
.firebase {
  background-color: black;
}
.writing {
  background-color: black;
  border-color: white;
}

// .raise:hover,
// .raise:focus {
//   box-shadow: 0px 0px 10px 2px white;
//   transform: translateY(-0.25em);
// }
.skill-text {
  color: rgba(0, 0, 0, 0.6);
}
